<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <title>Lightning App</title>
    <!-- Search Engine -->
    <meta name="description" content="App template for ⚡ Lightning apps">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="⚡ Lightning App">
    <meta itemprop="description" content="App template for ⚡ Lightning apps">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="⚡ Lightning App">
    <meta name="twitter:description" content="App template for ⚡ Lightning apps">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="⚡ Lightning App">
    <meta name="og:description" content="App template for ⚡ Lightning apps">
    <meta name="og:site_name" content="⚡ Lightning App">
    <meta name="og:locale" content="en">
    <meta name="og:type" content="website">
    
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/zephyr/bootstrap.min.css" integrity="sha256-DWNfAPc9h5qI0aI4+9aPONXiE9jIz2nczDB3KvjiKlI=" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <header>

      <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand" href="/">
            ⚡ Lightning App
          </a>
          
         <ul class="navbar-nav m-auto me-0">
            <% if(!user){ %> 
              <li class="nav-item">
                <a id="signin-button" class=" btn btn-secondary" href="#" onclick="signin()">
                  <i class="bi bi-currency-bitcoin"></i> Sign in
                </a>
              </li>
            <% } else { %>
               <li class="nav-item ">
                  <a class="nav-link text-white" href="/profile">
                    <%= user.id.substring(0, 10) %>
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">                   
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  </ul>
                </li>

            <% } %>
          </ul>
        </div>

      </nav>
    </header>
    
    <div class="container my-5">
      <%- body %>  
    </div>

    <!-- Modals -->

    <div class="modal fade" id="signin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Sign in with Bitcoin</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Create an account and log in without a password. The website will be able to request payments for you to approve, but will not be able to see your balance.

            <div class="mx-auto mt-5 text-center">
              <a id="webln-button" href="#" class="d-none btn btn-primary mx-auto" onclick="startWebLN()">Connect to browser</a>
              
              <a href="#" id="qr-button" class="btn btn-secondary" onclick="startQr()">
                <i class="bi bi-qr-code"></i>
                Scan a QR code
              </a>  

              <div id="qr-container" class="d-none m-3">
                <a id="qr-link" href="">
                  <img id="qr" src="">
                </a>
              </div>
            </div>

          </div>
          <div class="d-none modal-footer justify-content-center">
            <div class="spinner-border m-1 text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
               Waiting for you to sign in
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="pay" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Pay with Bitcoin</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <div class="d-none m-3 qr-container">
              <a class="qr-link" href="">
                <img width="300" height="300" class="qr" src="">
              </a>
              <a href="#" class="d-none btn btn-primary btn-xl mx-auto webln-button" onclick="startWebLNPayment()">Pay in your browser</a>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <div class="spinner-border m-2 text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <span class="loading-text"></span>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
      
    <script src="js/pay.js"></script>
    <script src="js/signin.js"></script>
  </body>
</html>
