<h1 class="display-5 fw-bold text-center">
  Request a payment
</h1>
<p class="lead text-center">
  One API call, endless possibilities. Sell a digital product, create a paywall or stream sats as you scroll the page. 🤯
</p>

<p class="text-center">
  <a class="btn btn-primary btn-xxl" href="#" onclick="requestPayment(21, 'Payment description', success)">
    Pay 21 sats
  </a> 

  <a class="btn btn-primary btn-xxl" href="#" onclick="requestPaymentWebLN(21, 'Payment description', success)">
    Pay 21 sats with WebLN
  </a> 
</p>